<div class="overlay">
  <div class="projects-title">
    <span>
      <h1>Visual Products Gallery</h1>
      <p>A collection of my design, programming, and digital production work from various ventures. All of these projects, covering various aspects of data analysis and scripting, web and graphic design, and video production and editing, I learned on the job while in a small organization, to fill a need not yet met. The titles indicate the role(s) I served on a project (the sole person in that role except where "assistant" is specified), not my job title at the time (usually researcher or short-term consultant). I make no claim to expertise in most of these roles - my core training is as a researcher and a teacher. Rather, I am proud that I could contribute these projects, helping make a difference between whether the organizations I worked for could pursue a narrow or more ambitious range of priorities.</p>
    </span>
    <div class="date-highlight" style="margin: 10px 0;">❖</div>
  </div>
  <ul class="projects-menu">
    {% for item in site.data.projects %}
      {% capture image %}{{ item.image }}{% endcapture %}
      {% unless image contains 'http://' or image contains 'https://' %}
      {% capture image %}{{ site.url }}/{{ image }}{% endcapture %}
      {% endunless %}
      <li style="background:url({{ image }}) center center no-repeat, rgba(0, 0, 0, 0.3);">
        <a href="{{ item.url }}" {% unless item.completed %}class="inactive"{% endunless %} target="_blank" rel="nofollow external">
          <span>
            {{ item.title }}
            {% unless item.completed %}
            <br><em>in progress</em>
            {% endunless %}
          </span>
        </a>
        </li>
    {% endfor %}
  </ul>
</div>
