<div class="overlay">
  <div class="projects-title">
    <span>
      <h1>Visual Products Gallery</h1>
      <p>A collection of select design, programming, and digital production work. These projects were undertaken for small organizations facing resource limitations, for whom I learned the key skills on the job to advance their missions. The titles (displayed on hover) indicate the roles I served on projects.</p>
    </span>
    <div class="date-highlight" style="margin: 10px 0;">❖</div>
  </div>
  <ul class="projects-menu">
    {% for item in site.data.projects %}
      {% capture image %}{{ item.image }}{% endcapture %}
      {% unless image contains 'http://' or image contains 'https://' %}
      {% capture image %}{{ site.url }}/{{ image }}{% endcapture %}
      {% endunless %}
      <li style="background:url({{ image }}) center center no-repeat, rgba(0, 0, 0, 0.3);">
        <a class="projects-item-a" href="{{ item.url }}" {% unless item.completed %}class="inactive"{% endunless %} target="_blank" rel="nofollow external">
          <span class="projects-item-title">
            {{ item.title }}
            {% unless item.completed %}
            <br><em>in progress</em>
            {% endunless %}
          </span>
        </a>
        </li>
    {% endfor %}
  </ul>
</div>
