<div class="overlay">
  <div class="projects-title">
    <span>
      <h1>Visual Products Gallery</h1>
      <p>A collection of my design, programming, and digital production work from various ventures. For all of these projects, I learned the key skills on the job while in a small organization, to fill a need not yet met. The titles indicate the role I served on a project, rather than my job title at the time; I led the indicated elements except where "assistant" is specified. I make no claim to expertise in most of these roles - my core training is as a researcher and a teacher. Rather, I make a claim to working hard to achieve what is most needed in any given context, and I am proud that I could help the organizations I worked for overcome existing limitations and achieve a more ambitious range of priorities.</p>
    </span>
    <div class="date-highlight" style="margin: 10px 0;">❖</div>
  </div>
  <ul class="projects-menu">
    {% for item in site.data.projects %}
      {% capture image %}{{ item.image }}{% endcapture %}
      {% unless image contains 'http://' or image contains 'https://' %}
      {% capture image %}{{ site.url }}/{{ image }}{% endcapture %}
      {% endunless %}
      <li style="background:url({{ image }}) center center no-repeat, rgba(0, 0, 0, 0.3);">
        <a href="{{ item.url }}" {% unless item.completed %}class="inactive"{% endunless %} target="_blank" rel="nofollow external">
          <span class="projects-item-title">
            {{ item.title }}
            {% unless item.completed %}
            <br><em>in progress</em>
            {% endunless %}
          </span>
        </a>
        </li>
    {% endfor %}
  </ul>
</div>
